body{
background: rgb(231, 230, 230);
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.topnav {
overflow: hidden;
background:linear-gradient(35deg, #CCFFFF, #9ae7ec,#d4c4c1, #fabfbf);
}

.topnav a {
float: left;
color: #000000;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.topnav a:hover {
background-color: rgb(197, 195, 195);
color: black;
}

.topnav a.active {
background-color: #6183ca;
color: white;
}

.image-menu{
    width:50px;
    height:50px;
    justify-content:center;
}

.divprofile{
    margin:5px;
    float: left;
    width: 400px;
}
.divvideo{
    margin:5px;
    float: left;
    width: 700px;

}

.divindex{
    margin:10px;
    width: 600px;

}

.divthoughts{
    margin:5px;
    float: left;
    width: 400px;
}

.image-me{
width: 200px;
border-radius: 20px;
}

.divlinks{
 width:40%;
 margin: 25px;
 border:2px;
 border-style: solid;
 border-color:black;
 transform: skewX(-15deg);
 text-align: center;
}
.ullinks{
 text-align:justify;
}

#ball {
    float: right;
    width: 100px;
    height: 100px;
    margin: 50px auto;
    position: relative;
    border-radius: 50%;
    background: linear-gradient(
      35deg,
      #e62929,
      #ffcccc
    );
    animation-name: bounce;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }

  @keyframes bounce{
    0% {
      top: 0px;
    }
    50% {
      top: 249px;
      width: 130px;
      height: 70px;
    }
    100% {
      top: 0px;
    }
  }

  #dashboardtable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #dashboardtable td,#dashboardtable th {
    border: 4px solid #ddd;
    padding: 8px;
  }
  
  #dashboardtable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4ca3af;
    color: white;
  }

  #ECtable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  }
  
  #ECtable td,#ECtable th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #ECtable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4ca3af;
    color: white;
  }
