body{
background: rgb(231, 230, 230);

}
.topnav {
overflow: hidden;
background:linear-gradient(35deg, #CCFFFF, #9ae7ec,#d4c4c1, #fabfbf);
}

.topnav a {
float: left;
color: #000000;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.topnav a:hover {
background-color: #ddd;
color: black;
}

.topnav a.active {
background-color: #6183ca;
color: white;
}

.image-menu{
    width:50px;
    height:50px;
    justify-content:center;
}

.divprofile{
    margin:5px;
    float: left;
    width: 400px;
}

.divindex{
    margin:10px;
    width: 600px;

}

.divthoughts{
    margin:5px;
    float: left;
    width: 400px;
}

.image-me{
width: 200px;
border-radius: 20px;
}

.divlinks{
 border:2px;
 border-style: solid;
 border-color:black;
 transform: skewX(-15deg);
}

